{% extends 'app/base.html' %}
{% block content %}
<p>select your Market :</p>
</br>


<div class="list-group">

  {% for name,change,picture  in fusion %}
    <button data="{{name}}"  type="button" class="list-group-item list-group-item-action"  onclick="func(this)"> {{name}}-USD  <p style="margin-right: 10px; "><img src="{{picture}}"  style="float:right;width:50px;height:50px;"></p>
    {% if change  >= 0 %}
        <p><span style="color: rgb(10, 201, 10)">{{ change }}%</span></p>
    {% else %}
        <p><span style="color: red">{{ change }}%</span></p>
    {% endif %}</p> </button>
  {% endfor %}


</div>
</br></br>

<form action="{% url 'buy_sell' %}" method="POST" id = "theForm">
  {% csrf_token %}
  <input type="hidden" id = "name" name = "cname" value="BTC">
 
</form>



{% endblock %}

{% block js %}
<script>
function func( clicked_object ){
 name = clicked_object.getAttribute('data');
 document.getElementById("name").value = name ;
 document.getElementById("theForm").submit();
}

</script>
{% endblock %}