{% extends 'app/base.html' %}
{% block content %}

Welcome To WeCoin</br></br>
<p4>learn how to trade crypto with wecoin :) </p4>
</br></br>

<div class="tradingview-widget-container">
	<div class="tradingview-widget-container__widget"></div>
	<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
	{
	"width": 1100,
	"height": 450,
	"defaultColumn": "overview",
	"screener_type": "crypto_mkt",
	"displayCurrency": "USD",
	"colorTheme": "light",
	"locale": "en"
	}
	</script>
  </div>

  <br/><br/>



{% endblock %}