{% extends 'app/base.html' %}
{% block content %}

Cryptocurrency Market
</br></br>

<div class="tradingview-widget-container">
	<div class="tradingview-widget-container__widget"></div>
	<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
	{
	"width": 1000,
	"height": 450,
	"defaultColumn": "overview",
	"screener_type": "crypto_mkt",
	"displayCurrency": "USD",
	"colorTheme": "light",
	"locale": "en"
	}
	</script>
  </div>

  <br/><br/>

<!-- {% if ticker %}
	{{ ticker }}
				 			
				{% endif %}

				{% if api %}
				{% if api == "Error..." %}
					There was a problem with your ticker symbol, please try again...
				{% else %}
					
					<h1>{{ api.companyName }}</h1><br/>
					Price: ${{ api.latestPrice }}<br/>
					Previous Close: {{ api.previousClose }}<br/>
					Market Cap: {{ api.marketCap }}<br/>
					YTD Change: {{ api.ytdChange }}<br/>
					52Wk High: {{ api.week52High }}<br/>
					52 Wk Low: {{ api.week52Low }}<br/>

					

				{% endif %} 
{% endif %} -->


{% endblock %}