{% extends 'app/base.html' %}
{% block content %}

<h3>Crypto history :</h3>
<br/><br/>

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Crypto Name</th>
        <th scope="col">type</th>
        <th scope="col">quantity</th>
        <th scope="col">price(USDT)</th>
        <th scope="col">date & time</th>      
      </tr>
    </thead>
    <tbody>
  {% if output %}
                         
    {% for list_item in output %}
        <tr>
           <th scope="row">{{ list_item.ticker}}</th>
           <td>{{ list_item.type }}</td>
           <td>{{ list_item.quantity }}</td>
           <td>{{ list_item.Money_perone }}</td>
           <td>{{ list_item.time }}</td>
        </tr>
    {% endfor %}
                                                 
    </tbody>
  </table>
  {% endif %}

  {% endblock %} 